*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/*NAV*/
  /*Fondo del nav*/
        .menu{
            background-color: black;
        }
        /* Modificar la viñeta de mi lista con list-style*/
        .menu ul {
            list-style: none;
            padding: 10px 16px;
            margin: 0;
        }
        /*Hacer que mi nav se vuelva en linea con display*/
          .menu li {
            display: inline;
            font-size: 20px;
            color: white;
          }

        /* Agregar ">" entre los elementos */
        .menu li+li:before {
            padding: 0 8px;
            color: white;
            content: ">";
        }

        .menu a {
            color: white;
            text-decoration: none;
        }
        /*Aqui se pone la propiedad hover para cuando pase el cursor*/
        .menu a:hover {
            text-decoration: underline;
        }

/*Footer*/
        .footer {
            color: white;
            background-color: black;
            width: 100%;       
            padding: 30px 0px;   
            text-align: center;         
        }

h1{
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    width: 60%;
    margin: 30px auto;
    padding: 20px auto;
    text-align: center;
}


p{
    font-size: 10px;
}

table{
    width: 90%;
    margin: 3px auto;
    border-collapse: collapse;
    text-align: center;
        }
td {
border: 3px solid #ffffff;
padding: 10px;
width: 10%;
height: auto;

}

/*Tablas*/

.first{
    margin-bottom: 30px;
}
.second{
    margin-bottom: 30px;
}

.third {
    width:50%;
    margin: auto 25%;
    
}

.third td{
    border:  20px solid #ffffff;
    padding: 10px 30px 10px 30px;
    height: auto;
    text-align: start;
    font-size: 15px;
    
    
}

/* NB (No border)*/
.NB{
    border: none;
}

/*Nombre del elemento*/
.nam{
    margin: 1px auto;
}
    
/*Número de elemento (nm)*/
.nm{
    height: 1px;
    text-align: end;
}      

.green{
    background-color:#9EC87C;
}

.red{
    background-color: #D11F2D;
    color: white;
}

.yellow{
    background-color: #F5A61F;
    color: #ffffff;
}

.bluelight{
    background-color: #9BBFE2;
}

.blue{
    background-color: #2696D2;
    color: #ffffff;
}

.greenlight{
    background-color: #76C8A9;
}

.grey{
    background-color: #C3C3C3;
}
.purple{
    background-color: #B895C5;
}

.pink{
    background-color: #F5B2CA;
}
.yelows{
    background-color: #FDCE0B;
}

/*hover*/
.first td:not(.NH):hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
}

.second td:not(.NH):hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #000;
}


